<form action="<%= secrets_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <%= render "shared/errors" %>

  <label for="secret_title">Secret</label>
  <input type="text" id="secret_title" name="secret[title]" value="<%= @secret.title %>">
  <br>

  <input type="hidden" name="secret[recipient_id]" value="<%= @secret.recipient_id %>">

  <input type="submit" value="Post secret" id="submit-new-secret">
</form>