<form action="<%= secrets_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <%= render "shared/errors" %>

  <label for="secret_title">Secret</label>
  <input type="text" id="secret_title" name="secret[title]" value="<%= @secret.title %>">
  <br>

  <label for="secret_tags">Tags</label>
  <div id="secret-tags">
    <!-- <select name="secret[tag_ids][]">
      <% Tag.all.each do |tag| %>
        <option value="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
    </select> -->
  </div>
  <a href="#" id="add-another-tag">add another tag</a>
  <br>

  <input type="hidden" name="secret[recipient_id]" value="<%= @secret.recipient_id %>">

  <input type="submit" value="Post secret" id="submit-new-secret">
</form>

<script type="application/json" id="tag-data-json">
  <%= Tag.all.to_json.html_safe %>
</script>

<script type="text/template" id="select-template">
  <select name="secret[tag_ids][]">
    <%% tags.forEach(function(tag){ %>
      <option value="<%%= tag.id %>"><%%= tag.name %></option>
    <%% })%>
  </select>
  <br>
</script>

<script>
var addSecretTagSelect = function(){
  var templateCode = $("#select-template").html();
  var templateFunction = _.template(templateCode);

  var renderedContent = templateFunction({
    tags: JSON.parse($("#tag-data-json").html())
  })

  $("#secret-tags").append(renderedContent)
}

$(document).ready(addSecretTagSelect);


  $("#add-another-tag").on("click", function(event) {
    event.preventDefault();

    addSecretTagSelect();
  });

  $("#submit-new-secret").on("click", function(event) {
    event.preventDefault();

    var form = $(event.target.parentElement);
    $.ajax({
      url: "/secrets",
      type: "post",
      data: $(form).serializeJSON(),
      success: function(array){
        var secretToAdd = $("<li></li>")

        var newSecret = array[0];
        var tags = array[1];

        secretToAdd.text(newSecret.title + " (" + tags.join(", ") +")");
        $("#secretsList").prepend(secretToAdd);
      }
    })
  });
</script>